# Miscellaneous
FlutterCertified/*.class
FlutterCertified/*.log
FlutterCertified/*.pyc
FlutterCertified/*.swp
FlutterCertified/.DS_Store
FlutterCertified/.atom/
FlutterCertified/.build/
FlutterCertified/.buildlog/
FlutterCertified/.history
FlutterCertified/.svn/
FlutterCertified/.swiftpm/
FlutterCertified/migrate_working_dir/

# IntelliJ related
FlutterCertified/*.iml
FlutterCertified/*.ipr
FlutterCertified/*.iws
FlutterCertified/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
FlutterCertified/.dart_tool/
FlutterCertified/.flutter-plugins-dependencies
FlutterCertified/.pub-cache/
FlutterCertified/.pub/
FlutterCertified/build/
FlutterCertified/coverage/

# Symbolication related
FlutterCertified/app.*.symbols

# Obfuscation related
FlutterCertified/app.*.map.json

# Android Studio will place build artifacts here
FlutterCertified/android/app/debug
FlutterCertified/android/app/profile
FlutterCertified/android/app/release
